extend layout

block head
  title Hastening the Work Report - #{siteName}
  link(rel='stylesheet' href='/stylesheets/hastening.css')
  script(type="text/javascript") var User = { zone: "#{zone}" };
  script(src="/scripts/hastening.js" type="text/javascript")

block content
  form#wrapper(method="POST" action="/hastening/submit")
    div#report
      div.header
        img(src="stylesheets/images/abm.png")
        div
          h1.heading.big Stake Hastening the Work Report
          //input.stake.big(type="text" name="stake" placeholder="[Stake Here]" value="#{stake}")
          span.big #{stake} Stake
        div.underline
          span President
          input#president(type="text" name="stakePresident" placeholder="[Stake President Surname Here]")
          span Goal
          input#goal(type="text" name="goal" value=lastReport ? lastReport.goal : "")
          span.right (Stake President / Zone Leader Missionary Analysis)
        div
          span Zone Leaders:
          input#zoneLeaders.long(type="text" name="zoneLeaders" placeholder="[e.g. Elders Smith & Anderson]" value="#{zoneLeaders}")
          span.right #{reportDate}
      table#units
        tr
          th(rowspan=3) Ward / Branch
          th(rowspan=2 colspan=2) Number of Missionaries
          th(rowspan=3) Has Ward Mission Plan?
          th(rowspan=3) Has WMP Been Referenced in Ward Council?
          th(rowspan=3) Total Lessons With a Member Present
          th(rowspan=3) Average Number of Investigators at Church per Week
          th(rowspan=3) Number of HT Families Assigned to Missionaries
          th(colspan=3) Reactivation and Rescue Efforts (15 Names)
          th(rowspan=3) Number of Successful Rescue Visits
          th.comments(rowspan=3) Needs and Concerns
        tr
          th(rowspan=2) Number of Names
          th(rowspan=2) Number Invited by Ward
          th(rowspan=2) Number Being Taught
        tr
          th Ward
          th Full-Time
        - var i = 0;
        - for(var unit in units)
          tr(class=(++i % 2 ? "band" : ""))
            td(id="unit" + i) #{unit}
            td
              input(type="text" name="unit" + i + "_wardMissionaries")
            td
              input(type="text" name="unit" + i + "_fullTimeMissionaries" value=units[unit])
            td
              input(type="checkbox" name="unit" + i + "_hasWardMissionPlan")
            td
              input(type="checkbox" name="unit" + i + "_hasBeenReferenced")
            td
              input(type="text" name="unit" + i + "_memberPresents")
            td
              input(type="text" name="unit" + i + "_investigatorsAtChurch")
            td
              input(type="text" name="unit" + i + "_missionaryHomeTeaching")
            td
              input(type="text" name="unit" + i + "_numberNames")
            td
              input(type="text" name="unit" + i + "_numberInvited")
            td
              input(type="text" name="unit" + i + "_numberBeingTaught")
            td
              input(type="text" name="unit" + i + "_rescueVisits")
            td
              input(type="text" name="unit" + i + "_needsAndConcerns")
      table#baptisms
        tr
          td.baptismsLabel(rowspan=11)
          th.wardNames.biggish Stake Wards
          th WMP Date Last Reviewed
          th.biggish JAN
          th.biggish FEB
          th.biggish MAR
          th.biggish APR
          th.biggish MAY
          th.biggish JUN
          th.biggish JUL
          th.biggish AUG
          th.biggish SEP
          th.biggish OCT
          th.biggish NOV
          th.biggish DEC
          th Year to Date
          th.biggish Goal
          th.biggish Remaining
        - var i = 0;
        - for(var unit in units)
          tr(class=(++i % 2 ? "band" : ""))
            td #{unit}
            td
              input(type="text" name="unit" + i + "_dateReviewed")
            - var unitRecord = lastReport ? lastReport.units[i - 1] || {} : {};
            - for(var month = 1; month <= 12; month++)
              td
                input(type="text" name="unit" + i + "_month" + month value=unitRecord["month" + month] || "")
            td(id="unit" + i + "_ytd")
            td
              input(type="text" name="unit" + i + "_goal" value=unitRecord.goal || "")
            td(id="unit" + i + "_remaining")
        tr(class="totals")
          td(colspan=2) Total
          - for(var month = 1; month <= 12; month++)
            td(id="total_month" + month)
          td#total_ytd
          td#total_goal
          td#total_remaining
    button#submitButton Submit Report